<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/students_tutors.css') }}">
</head>
<body onload="searchStudentsByName()">
    <h1>
        Student Management Page
    </h1>
    
    <h2>Student Table</h2>
    <input id="search_name" onkeyup="searchStudentsByName()">
    <button onclick="searchStudentsByName()">Search</button>
    <table>
        <thead>
            <th></th>
            <th>Student ID</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Parent</th>
            <th>Grade</th>
            <th>School</th>
            <th>DOB</th>
            <th>Reason</th>
            <th>Subjects</th>
            <th>Mode</th>
            <th>Status</th>
            <th>GPA</th>
            <th>Address</th>
            <th>Email</th>
            <th>Emergency Contact Name</th>
            <th>Emergency Contact Relation</th>
            <th>Emergency Contact Phone</th>
            <th>Pickup Person Name</th>
            <th>Pickup Person Relation</th>
            <th>Pickup Person Phone</th>
            <th>Medical Comment</th>
            <th>Comment</th>
        </thead>
        <tbody id="students_table">

        </tbody>
    </table>

    <a href="{{ url_for('downloadStudentData')}}">Download Student Data as CSV</a>

    <h2>Create new Student</h2><br>
    <form onsubmit="createStudent(); searchStudentsByName(); return false;">
        <table>
            <thead>
                <th>Name</th>
                <th>Nickname</th>
                <th>Parent</th>
                <th>Grade</th>
                <th>School</th>
                <th>DOB</th>
                <th>Reason</th>
                <th>Subjects</th>
                <th>Mode</th>
                <th>Status</th>
                <th>GPA</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="name"></td>
                    <td><input type="text" id="nickname"></td>
                    <td><input type="text" name="parent_id"></td>
                    <td><input type="text" name="grade"></td>
                    <td><input type="text" name="school"></td>
                    <td><input type="text" name="dob"></td>
                    <td><input type="text" name="reason"></td>
                    <td><input type="text" name="subjects"></td>
                    <td><input type="text" name="mode"></td>
                    <td><input type="text" name="status"></td>
                    <td><input type="text" name="gpa"></td>
                </tr>
            </tbody>
        </table>
        <table>
            <header>
                <th>Address</th>
                <th>Email</th>
                <th>Emergency Contact Name</th>
                <th>Emergency Contact Relation</th>
                <th>Emergency Contact Phone</th>
                <th>Pickup Person Name</th>
                <th>Pickup Person Phone</th>
                <th>Pickup Person Relation</th>
                <th>Medical Comment</th>
                <th>Comment</th>
            </header>
            <body>
                <tr>
                    <td><input type="text" name="address"></td>
                    <td><input type="text" name="email"></td>
                    <td><input type="text" name="emergency_contact_name"></td>
                    <td><input type="text" name="emergency_contact_relation"></td>
                    <td><input type="text" name="emergency_contact_phone"></td>
                    <td><input type="text" name="pickup_person_name"></td>
                    <td><input type="text" name="pickup_person_phone"></td>
                    <td><input type="text" name="pickup_person_relation"></td>
                    <td><textarea type="text" name="medical_comment"></textarea></td>
                    <td><textarea type="text" id="comment"></textarea></td>
                </tr>
            </body>
        </table>
      
        <input type="submit" value="Submit!">
    </form>

    <br>

    <button onclick="window.location.href= '/'">Back</button>
</body>

<script src="{{ url_for('static', filename='manage_students.js') }}"></script>