<!DOCTYPE html>

<head>

</head>
<body onload="searchTutorsByName()">
    <h1>
        Tutor Management Page
    </h1>

    <h2>Tutor Table</h2>
    <input id="search_name" onkeyup="searchTutorsByName()">
    <button onclick="searchTutorsByName()">Search</button>
    <table>
        <thead>
            <th></th>
            <th>Tutor ID</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Primary Phone</th>
            <th>Personal Email</th>
            <th>Work Email</th>
            <th>Mode</th>
            <th>Status</th>
            <th>Zoom Room ID</th>
            <th>Zoom Room Password</th>
            <th>Hire Date</th>
            <th>DOB</th>
            <th>Availability Calendar ID</th>
            <th>Schedule Calendar ID</th>
            <th>Comment</th>
        </thead>
        <tbody id="tutors_table">

        </tbody>
    </table>

    <h2>Create New Tutor</h2>
    <form onsubmit="createTutor(); searchTutorsByName(); return false;">
        <table>
            <thead>
                <th>Name</th>
                <th>Nickname</th>
                <th>Primary Phone</th>
                <th>Personal Email</th>
                <th>Work Email</th>
                <th>Hire Date</th>
                <th>Mode</th>
                <th>Status</th>
                <th>Zoom Room ID</th>
                <th>Zoom Room Password</th>
                <th>DOB</th>
                <th>Availability Calendar ID</th>
                <th>Schedule Calendar ID</th>
                <th>Comment</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="name"></td>
                    <td><input type="text" id="nickname"></td>
                    <td><input type="text" id="primary_phone"></td>
                    <td><input type="text" id="personal_email"></td>
                    <td><input type="text" id="work_email"></td>
                    <td><input type="text" id="hire_date"></td>
                    <td><input type="text" id="mode"></td>
                    <td><input type="text" id="status"></td>
                    <td><input type="text" id="zoom_room_id"></td>
                    <td><input type="text" id="zoom_room_pwd"></td>
                    <td><input type="text" id="dob"></td>
                    <td><input type="text" id="avail_calendar"></td>
                    <td><input type="text" id="sched_calendar"></td>
                    <td><textarea type="text" id="comment"></textarea></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit!">
    </form>

    <br>

    <button onclick="window.location.href= '/'">Back</button>
</body>

<script src="{{ url_for('static', filename='manage_tutors.js') }}"></script>