<!DOCTYPE html>

<head>

</head>
<body onload="showSessions(); showAvailability()">
    <h1>Tutor Info Page</h1>
    <h2>{{ tutor.name }}</h2>
    <button onclick="window.location.href= '/manage_tutors'">Back</button>
    <br>
    <h2>Edit Tutor</h2>
    <table>
        <thead>
            <th>Tutor ID</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Primary Phone</th>
            <th>Personal Email</th>
            <th>Work Email</th>
            <th>Hire Date</th>
            <th>Mode</th>
            <th>Status</th>
            <th>Zoom Room ID</th>
            <th>Zoom Room Password</th>
            <th>DOB</th>
            <th>Availability Calendar ID</th>
            <th>Schedule Calendar ID</th>
            <th>Comment</th>
        </thead>
        <tbody>
            <tr>
                <td id="tutorid">{{ tutor.id }}</td>
                <td><input type="text" id="name" value="{{ tutor.name }}"></td>
                <td><input type="text" id="nickname" value="{{ tutor.nickname }}"></td>
                <td><input type="text" id="primary_phone" value="{{ tutor.primary_phone }}"></td>
                <td><input type="text" id="personal_email" value="{{ tutor.personal_email }}"></td>
                <td><input type="text" id="work_email" value="{{ tutor.work_email }}"></td>
                <td><input type="text" id="hire_date" value="{{ tutor.hire_date }}"></td>
                <td><input type="text" id="mode" value="{{ tutor.mode }}"></td>
                <td><input type="text" id="status" value="{{ tutor.status }}"></td>
                <td><input type="text" id="zoom_room_id" value="{{ tutor.zoom_room_id }}"></td>
                <td><input type="text" id="zoom_room_pwd" value="{{ tutor.zoom_room_pwd }}"></td>
                <td><input type="text" id="dob" value="{{ tutor.dob }}"></td>
                <td><input type="text" id="avail_calendar" value="{{ tutor.avail_calendar }}"></td>
                <td><input type="text" id="sched_calendar" value="{{ tutor.sched_calendar }}"></td>
                <td><textarea type="text" id="comment">{{ tutor.comment }}</textarea></td>
            </tr>
        </tbody>
    </table>
    <button onclick="updateTutor()">Update!</button>
    <label id="updateResult"></label>

    <br>
    <h2>Session History</h2>
    <table>
        <thead>
            <th>Student</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </thead>
        <tbody id="sessions">

        </tbody>
    </table>

    <br>
    <h2>Current Availability</h2>
    <table>
        <thead>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </thead>
        <tbody id="availability">

        </tbody>
    </table>

    <button onclick="fetchAvailability()">Fetch Availability From Google Calendar</button>
    <label id="fetchSuccess"></label><br>
    <button onclick="pushAvailability()">Push This Availability into Next Week's Google Calendar</button>
    <label id="pushSuccess"></label>

</body>

<script src="{{ url_for('static', filename='manage_tutors.js') }}"></script>